---
layout: twoColumn
section: resources
type: article
title:  Funding source verification
description: Before a customer is eligible to transfer money from their bank or credit union account they need to verify ownership of the account.
---

# Funding source verification

Before a customer is eligible to transfer money from their bank or credit union account they need to verify ownership of the account, either via micro-deposits, Instant Account Verifications (IAV), or Plaid’s Auth. This series of articles demonstrates how to verify a bank or credit union account using these options. We use the example of verifying a Customer’s bank account and detail the interaction between Dwolla, your application, and the Customer.

For more information about the Dwolla API and IAV, please [contact sales](https://www.dwolla.com/get-started/).

For more information about account authentication by Plaid, please [view the API docs](https://developers.dwolla.com/resources/dwolla-plaid-integration.html) or [reach out to Plaid](https://plaid.com/contact/).

* * *

#### View:

* [Micro-deposit verification](/resources/funding-source-verification/micro-deposit-verification.html)
* [Instant account verification (IAV) powered by Dwolla.js](/resources/funding-source-verification/instant-account-verification.html)
* [Plaid Auth for account authentication in seconds](/resources/dwolla-plaid-integration.html)
