---
layout: twoColumn
section: resources
type: article
title:  "Funding source verification"
description: "Programmatically verify a bank to initiate a bank transfer."
---

# Funding source verification

Before a customer is eligible to transfer money from their bank or credit union account they need to verify ownership of the account, either via Instant Account Verifications (IAV), micro-deposits, or Plaid’s Auth. This article demonstrates how to verify a bank or credit union account using these options. For more information about the Dwolla API and IAV, please [contact sales](https://www.dwolla.com/contact). For more information about account authentication by Plaid, please [view the API docs](https://developers.dwolla.com/resources/dwolla-plaid-integration.html) or [reach out to Plaid](https://plaid.com/contact/).

In this article we use the example of verifying a Customer’s bank account and detail the interaction between Dwolla, your application, and the Customer.

* * *

#### View:

*   [Micro-deposit verification](/resources/funding-source-verification/micro-deposit-verification.html)
*   [Instant account verification](/resources/funding-source-verification/instant-account-verification.html)
*   [Plaid Auth for account authentication in seconds](/resources/funding-source-verification/plaid-bank-verification.html)