<section class="steps-nav" {% unless page.url contains '/guides/receive-money' %}style="display:none"{% endunless %}>
    <h6>Follow the steps</h6>
    <ol>
        <li>
            <a href="/guides/receive-money" {% if page.guide.step == 'overview' %}class="active"{% endif %}>Overview: Receive money from your users</a>
            <div class="dot"></div>
        </li>
        <li>
            <a href="/guides/receive-money/onboarding.html" {% if page.guide.step == '1' %}class="active"{% endif %}>Create a Customer and transfer</a>
            <div class="dot"></div>
        </li>
        <li>
            <a href="/guides/receive-money/check-transfer.html" {% if page.guide.step == '2' %}class="active"{% endif %}>Check transfer status</a>
            <div class="dot"></div>
        </li>
    </ol>
</section>
