<nav class="side-nav js-side-nav {% if page.url contains '/integrations' %}active{% endif %}">
    <section>
        <h6>Integrations</h6>
        <ul>
            <li><a href="/integrations/authorization.html" {%if page.url contains '/authorization.html'%}class="active"{%endif%}>Integration Authorization</a></li>
            <li class="external-link"><a href="https://www.dwolla.com/partnerships/" target="_blank"><span class="icon-sidenav-option">Partner Ecosystem</span></a></li>
        </ul>
    </section>
</nav>
