<footer>
    <div class="page-wrap">
        <nav>
            <h6>Product</h6>
            <a href="https://www.dwolla.com/platform">Platform</a>
            <a href="https://www.dwolla.com/pricing">Pricing</a>
            <a href="https://www.dwolla.com/security">Security</a>
            <a href="https://www.dwolla.com/integrations">Integrations</a>
        </nav>

        <nav>
            <h6>Resources</h6>
            <a href="https://www.dwolla.com/updates">Blog</a>
            <a href="https://www.dwolla.com/case-studies">Case Studies</a>
            <a href="https://developers.dwolla.com">Developers</a>
            <a href="https://help.dwolla.com/">Help Center</a>
        </nav>
        <nav>
            <h6>Company</h6>
            <a href="https://www.dwolla.com/about">About Us</a>
            <a href="https://www.dwolla.com/careers">Careers</a>
            <a href="https://www.dwolla.com/press">Press</a>
            <a href="https://www.dwolla.com/contact/">Contact Us</a>
        </nav>
        <nav>
            <h6>Legal</h6>
            <a href="https://www.dwolla.com/legal/tos/">Terms of Service</a>
            <a href="https://www.dwolla.com/legal/privacy/">Privacy Policy</a>
        </nav>
    </div>
 </footer>
 <section class="disclaimer">
    <div class="page-wrap">
        <h5>Financial institutions play an important role in the Dwolla network.</h5>
        <p>Dwolla, Inc. is an agent of Veridian Credit Union and all funds associated with your account in our network are held in one or more pooled accounts at Veridian Credit Union. These funds may not be eligible for share insurance by the National Credit Union Share Insurance Fund. Dwolla, Inc. is the operator of a software platform that communicates user instructions for funds transfers to Veridian Credit Union.</p>
    </div>
 </section>
 <section class="copyright">
    <div class="page-wrap">
        <div>
            <span>&copy; {{ site.time | date: '%Y' }} Dwolla, Inc.</span>
            <a href="https://www.dwolla.com/legal/about-our-financial-institution-partner/">Dwolla, Inc. is an agent of its Financial Institution Partner(s)</a>
        </div>
    </div>
 </section>
